html { 
  background: url("https://cdn.pixabay.com/photo/2016/11/23/00/23/clouds-1851427_1280.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  color: white;
}
.container {
  color: silver;
  font-family: "Cormorant Unicase", serif;
  display: flex;
  border-style: double;
  border-bottom-style: hidden;
  border-left-style: hidden;
  border-color: red;
  border-width: 10px;
  width: 60%;
  margin-top: 30px;
  margin-left: 38px;
}
.present {
  color: red;
  border-style: solid;
  border-color: black;
}
h1 {
  color: silver;
  font-family: "Cormorant Unicase", serif;
}
.current-weather {
  color:red;
  border-style: double;
  border-color: silver;
  height: 180px;
  width: 180px
}
.center {
  text-align: center;
}
.weatherContainer {
  text-align: center;
  border-style: outset;
  border-width: thick;
  border-top-color: red;
  border-right-color: red;
  border-left-color: silver;
  border-bottom-color: silver;
  width: 60%;
  height: 200px;
  padding: 15px;
  margin: 25px;
  margin-left: 38px;
  overflow:auto;
}
#forecast div {
  display: inline-block;
  border-style: double;
  border-color: white;
  width: 150px;
}
.btn {
  color: red;
  border-style: double;
  border-top-style: hidden;
  border-width: thick;
  border-color: red;
}