body {
  color: red;
  background-color: black;
}
.container {
  color: silver;
  font-family: "Cormorant Unicase", serif;
  display: flex;
  border-style: double;
  border-bottom-style: hidden;
  border-left-style: hidden;
  border-color: red;
  border-width: 10px;
  width: 60%;
  margin-top: 30px;
  margin-left: 38px;
}
.present {
  color: red;
  border-style: solid;
  border-color: black;
}
h1 {
  color: silver;
  font-family: "Cormorant Unicase", serif;
}
.weatherContainer {
  /* box-sizing: border-box; */
  display:flex;
  justify-content: center;
  
  border-style: outset;
  border-width: thick;
  border-top-color: red;
  border-right-color: red;
  width: 90%;
  height: 400px;
  margin-left: 38px;
  overflow:auto;
}
#forecast div {
  border-style: double;
  border-color: white;
  width: 105px;
}
.btn {
  color: red;
  border-style: double;
  border-top-style: hidden;
  border-width: thick;
  border-color: red;
}
.form-control {
  background-color: silver;
}
